<template lang="pug">
v-app()
  no-ssr
      multipane.vertical-panes(layout='vertical', style='{ flex-direction:row-reverse }')
        
        v-card.pane.white(:style="{ width: w +'px', maxWidth: maxW+'px', minWidth: 60+'px'  }", fixed).hidden-sm-and-down
          div( mini-variant-width="70" , v-model='drawer', :mini-variant='miniVariant', :clipped='clipped', fixed, app)
            v-list.blue-grey--text.text--darken-4
              v-list-tile(v-for='(item, i) in items', :key='i', :to='item.to', router, exact)
                v-list-tile-action
                  v-icon {{ item.icon }}
                v-list-tile-content
                  v-list-tile-title(v-text='item.title')  
        multipane-resizer

        v-card.pane(:style='{ flexGrow: 1 }')
          v-toolbar( :clipped-left='clipped')
            //- v-toolbar-side-icon(@click='drawer = !drawer')
            //- v-btn(icon, @click.stop='miniVariant = !miniVariant')
            //-   v-icon.blue-grey--text.text--darken-1 {{ `chevron_${miniVariant ? 'right' : 'left'}` }}
            //- v-btn(icon, @click.stop='clipped = !clipped')
            //-   v-icon.blue-grey--text.text--darken-1 web
            //- v-btn(icon, @click.stop='fixed = !fixed')
            //-   v-icon.blue-grey--text.text--darken-1 remove
            v-toolbar-title.blue-grey--text.text--darken-4(v-text='title')
            v-spacer
            v-btn(icon,  @click.stop="drawer = !drawer").hidden-md-and-up
              v-icon menu     
          v-container
            nuxt

      v-navigation-drawer(v-model='drawer', absolute, temporary).hidden-md-and-up
        v-list.pa-1
          v-list-tile(avatar)
            v-list-tile-avatar
              img(src='https://randomuser.me/api/portraits/men/85.jpg')
            v-list-tile-content
              v-list-tile-title John Leider
        v-list.pt-0(dense)
          v-divider
          v-list-tile(v-for='item in items', :key='item.title', :to='item.to', router, exact)
            v-list-tile-action
              v-icon {{ item.icon }}
            v-list-tile-content
              v-list-tile-title {{ item.title }}

      //-   v-content
      //-     v-container
      //-       nuxt
      //-   //- v-navigation-drawer(v-model='rightDrawer', :right='right', temporary, fixed)
      //-   //-   v-list
      //-   //-     v-list-tile(@click.native='right = !right')
      //-   //-       v-list-tile-action
      //-   //-         v-icon(light) compare_arrows
      //-   //-       v-list-tile-title Switch drawer (click me)
      //-   v-footer(:fixed='fixed', app)
      //-     span © 2019
      //- multipane.vertical-panes(layout='vertical')
      //-   .pane(:style="{ minWidth: '100px', width: '150px', maxWidth: '200px' }")
      //-     div
      //-       //- h6.title.is-6 Pane 1
      //-       //- p.subtitle.is-6 Fixed width.
      //-       //- p
      //-       //-   small
      //-       //-     strong Configured with:
      //-       //-     br
      //-       //-     |           minWidth: 100px
      //-       //-     br
      //-       //-     |           width: 150px
      //-       //-     br
      //-       //-     |           maxWidth: 200px
      //-       //-     br
      //-   multipane-resizer
      //-   .pane(:style="{ width: '25%', maxWidth: '50%' }")
      //-     div
      //-       //- h6.title.is-6 Pane 2
      //-       //- p.subtitle.is-6 Fluid width.
      //-       //- p
      //-       //-   small
      //-       //-     strong Configured with:
      //-       //-     br
      //-       //-     |           width: 25%
      //-       //-     br
      //-       //-     |           maxWidth: 50%
      //-       //-     br
      //-   multipane-resizer
      //-   .pane(:style='{ flexGrow: 1 }')
      //-     div
      //-       //- h6.title.is-6 Pane 3
      //-       //- p.subtitle.is-6 Takes remaining available space.
      //-       //- p
      //-       //-   small
      //-       //-     strong Configured with:
      //-       //-     br
      //-       //-     |           flex-grow: 1
      //-       //-     br


</template>

<script lang="ts">
import {  Vue, Prop } from 'vue-property-decorator'
import Component from 'vue-class-component'
//@ts-ignore
import {Multipane, MultipaneResizer} from 'vue-multipane'

@Component({ 
    components: {
      Multipane,
      MultipaneResizer
    }
})

export default class IndexPage extends Vue {
  // drawer:any= null
  clipped:boolean = true 
  drawer:any = null
  fixed:boolean = false
  si:number= 230
  w:number= 230
  maxW:number= 230
  items:any= [
    {
      icon: 'apps',
      title: 'Welcome',
      to: '/'
    },
    {
      icon: 'bubble_chart',
      title: 'Crear Proyecto',
      to: '/create-project'
    }
  ]
  miniVariant:boolean= false
  right:boolean= true
  rightDrawer:boolean= false
  title:String= 'WorkTeam'
  // }
// export default {
//   data() {
//     return {
      
//     }
//   }
}
</script>
<style scoped lang="scss">
.v-navigation-drawer *{
  transition: all 0.3s;
}
.v-list{
  div {
    .v-list__tile--active{
      padding: 0 10px;
    }
  }
}

.vertical-panes {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}
.vertical-panes > .pane {
  text-align: left;
  // padding: 15px;
  overflow: hidden;
  background: #eee;
}
.vertical-panes > .pane ~ .pane {
  border-left: 1px solid #ccc;
}
</style>
