<template lang="pug">
//-  <v-layout>
//-     <v-flex text-xs-center>
//-       <img
//-         src="/v.png"
//-         alt="Vuetify.js"
//-         class="mb-5"
//-       >
//-       <blockquote class="blockquote">
//-         &#8220;First, solve the problem. Then, write the code.&#8221;
//-         <footer>
//-           <small>
//-             <em>&mdash;John Johnson</em>
//-           </small>
//-         </footer>
//-       </blockquote>
//-     </v-flex>
//-   </v-layout>

v-layout.align-center.justify-center.fill-height.white(xs10, sm10)  
  v-container
    form
      v-flex(xs12, sm12)
        v-text-field.title.v-text-field--center-text(v-model="name",style="display:flex;text-align: center", label='Nombre del Proyecto', single-line, outline  )

      //- v-container(fluid='', grid-list-md='')
      v-flex(xs12, sm12)
        v-textarea(v-model="description", name='input-2-1', box='', label='Descripción del Proyecto', auto-grow='', value='through.',outline, rows="1")

      //- v-text-field(v-model='name', :error-messages='nameErrors', :counter='10', label='Name', required)
      //- v-text-field(v-model='email', :error-messages='emailErrors', label='E-mail', required)
      //- v-select(v-model='select', :items='items', :error-messages='selectErrors', label='Item', required)
      //- v-checkbox(v-model='checkbox', :error-messages='checkboxErrors', label='Do you agree?', required)
      v-combobox(v-model='model_select_tags', :items='tags', item-text='name', label='Elige alguna característica', chips, clearable,  solo, multiple)
        template(v-slot:selection='data')
          v-chip(:selected='data.selected' )
            strong {{ data.item.name }}
            //- span (interest)
      v-flex
        v-layout
          v-spacer
          v-btn(@click='submit') Crear Proyecto
          //- v-btn(@click='clear') clear

</template>
<script lang="ts">

import {  Vue, Prop } from 'vue-property-decorator'
import Component from 'vue-class-component'
import axios from 'axios'

@Component({ 
    components: {
    }
})

export default class IndexPage extends Vue {
  name:String         = ''
  description:String  = ''
  select:any          = null
  model_select_tags:any=''
  // items:any =[
  //   'Item 1',
  //   'Item 2',
  //   'Item 3',
  //   'Item 4'
  // ]
  checkbox:boolean= false
  tags:any=[]
  config:any = {
    headers: {'Access-Control-Allow-Origin': '*'}
};



  // chips:any= ['Programming', 'Playing video games', 'Watching movies', 'Sleeping']
  // items:any= ['Streaming', 'Eating']

  // remove (item) {
  //   this.chips.splice(this.chips.indexOf(item), 1)
  //   this.chips = [...this.chips]
  // }
  created(){
      axios.get('http://104.196.175.119/tag').then((r: any) => {
            
          this.tags = r.data;
          console.log(this.tags);
          console.log(this.tags[2])
        })
  }

  submit(){
    axios.post('http://104.196.175.119/project', {
      name: this.name,
      description: this.description
    })
  }
  // todos() {
  //   const data:any =axios.get('http://104.196.175.119/tag')
  //   this.text = data
  //   return data
  // }
}

</script>

<style lang="scss">
.v-text-field--center-text{
  *{
    text-align: center
  }
  .v-label{
    
    left: 10% !important;
    right: 10% !important;
  }
}
</style>
